*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(175deg, #0BA7DD, #17E2AE);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 30px;
}
.input-container, form{
    display: flex;
    width: 550px;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
}
.input-container input{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding: 5px;
}
.input-container .submit-btn{
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #ffff;
    background-color: #000a94;
    cursor: pointer;
}
.todos {
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: space-between;
}
.todo-container{
    width: 500px;
    display: flex;
    justify-content: space-around;
    margin: 5px;
}
.select{
    width: 80px;
    /* height: 40px; */
}
.filter-todo{
    width: 150px;
    height: 30px;
    cursor: pointer;
    color: rgb(209, 113, 113);
    padding: 5px;
    border: none;
    outline: none;
}
.todoList{
    width: 400px;
    display: flex;
    align-items: center;
    height: 40px;
    background-color: rgb(209, 113, 113);
    color: #fff;
    font-size: 20px;
    padding: 5px;
}
.checked{
    text-decoration: line-through;
    opacity: 0.5;
}
.remove{
    display: none;
}
.check, .delete{
    background: none;
    border: none;
}
.todos .fas{
    font-size: 40px;
}
.todos .fa-check-square{
    color: #008000;
}
.todos .fa-trash{
    color: #ff0000;
}